
<div class="row">
	<div class="col-lg-2 col-md-3">  
		<div class="section box-out">
			<div class="thumbnail box-ins section-header">
				<h2>SVIJET</h2>
			</div>
		    <div class="thumbnail box-ins">
				<div class="container-img small-pic row margin-left-right">
					<img src="http://static.klix.ba/media/images/vijesti/m32_151214111.jpg" alt="..."> 
				</div>
				<div class="row margin-left-right">
					<h5>Susret Zvizdić-Reichel: Reforme su put kojim ide BiH i one daju pozitivne rezultate</h5>
					<p class="source-line">Source: Klix.ba</p>
				</div>
		    </div>
	    </div>
	</div>
	<div class="col-lg-4 col-md-4">  
		<div class="section box-out">
			<div class="thumbnail box-ins section-header">
				<h2>SAD</h2>
			</div>
		    <div class="thumbnail box-ins">
				<div class="container-img big-pic row margin-left-right">
					<img src="http://static.klix.ba/media/images/vijesti/l21_151214148.jpg?v=1" alt="..."> 
				</div>
				<div class="row margin-left-right">
					<h5>Susret Zvizdić-Reichel: Reforme su put kojim ide BiH i one daju pozitivne rezultate</h5>
					<p class="source-line">Source: Klix.ba</p>
				</div>
		    </div>
	    </div>
	</div>
	<div class="col-lg-4 col-md-4">  
		<div class="section box-out">
			<div class="thumbnail box-ins section-header">
				<h2>BOSNA</h2>
			</div>
		    <div class="thumbnail box-ins">
				<div class="container-img big-pic row margin-left-right">
					<img src="http://static.klix.ba/media/images/vijesti/l21_151214095.jpg" alt="..."> 
				</div>
				<div class="row margin-left-right">
					<h5>Susret Zvizdić-Reichel: Reforme su put kojim ide BiH i one daju pozitivne rezultate</h5>
					<p class="source-line">Source: Klix.ba</p>
				</div>
		    </div>
	    </div>
	</div>
	<div class="col-lg-2 col-md-3">  
		<div class="section box-out">
			<div class="thumbnail box-ins section-header">
				<h2>DIJASPORA</h2>
			</div>
		    <div class="thumbnail box-ins">
				<div class="container-img small-pic row margin-left-right">
					<img src="http://static.klix.ba/media/images/vijesti/m32_151214130.jpg?v=1" alt="..."> 
				</div>
				<div class="row margin-left-right">
					<h5>Susret Zvizdić-Reichel: Reforme su put kojim ide BiH i one daju pozitivne rezultate</h5>
					<p class="source-line">Source: Klix.ba</p>
				</div>
		    </div>
	    </div>
	</div>
</div>
