body{
	font-family: Calibri, Helvetica, sans-serif !important;
	padding-top: 70px;
}

#main-page {
	width:100%;
}

#main-content {
	max-width: 1400px;
	margin: auto;
}

.max-page-width {
	max-width: 1400px;
	margin: auto;
}

#footer-content {
	position: fixed;
	bottom: 0;
	left: 0;
	height: auto;
	color: #ecf0f1;
	background-color: #1c3c63;
	width: 100%;
	font-size: 1em;
	text-align: left;
	font-family: Calibri, Helvetica, sans-serif !important;
	padding-top: 3px;
	padding-bottom: 3px;
}

/* div{
	border:solid red 1px;
}

span {
	border:solid yellow 1px;
}
 */
.logo {
	text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
	font-weight: 500;
	color: #f2ffff;
	letter-spacing: 0pt;
	word-spacing: -1pt;
	font-size: 1.75em;
	text-align: left;
	font-family: Calibri, Helvetica, sans-serif !important;
	line-height: 1;
	white-space: nowrap;
}
	
.logo_div {
	padding-top: 10px;
	padding-bottom: 15px;
}

a.navbar-brand {
	margin-top: -3px;
}

.row-border{
	box-shadow: 5px 0px 5px #888888;
}

.login-error {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}
 
.login-msg {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
 
#login-box {
	width: 300px;
	padding: 20px;
	margin: 100px auto;
	background: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #000;
}

.login-page-center {
	padding: 50px;
	text-align: center;
}

.center-fa {
    margin-right: 23px;
    margin-left: -35px;
    padding-top: 3px;
    width: 50px;
}

.left-space-fa {
	padding-left: 5px;
}
.space-fa {
	padding-right: 5px;
	padding-left: 15px;
}
.right-space-fa {
	padding-right: 5px;
}

.fa-cog {
  color: white;
  outline: none;
}

.iconSpec {
    display: inline-block;
    height: 30px;
    overflow: hidden;
    position: relative;
    width: 30px;
    margin-top: 12px;
    outline: none;
    cursor: pointer;
    padding-left: 2px;
}

i:active, i:after {
	outline: none;
}
.center {
	text-align: center;
}

.section-header h2{
	margin: 0px;
}

.box-out {
	background: #f2f2f2;
	padding: 10px;
    margin-left: -10px;
    margin-right: -10px;
    box-shadow: 0 0 5px #ccc;
}


.box-ins {
    padding-top: 5px !important;
    margin-bottom: 10px;
    background: #fff;
}

.container-img {
	display: flex;
    justify-content: center;
	overflow: hidden;
	
}
.small-pic {
	max-height: 200px;
}

.big-pic{
	max-height: 300px;
}

.small-pic img {
	
	width: auto:
}

.big-pic img {
	width: auto;
}

.margin-left-right{
	margin-left: 5px;
	margin-right: 5px;
}

.source-line {
	float:right; 
	font-size:10px;
}

.pull-right{
	float: right;
}

.right {
	text-align:right;
}

.section {
	color: #66666 !important;
	font-family: Calibri, Helvetica, sans-serif !important;
}

.navbar-default {
  background-color: #1c3c63;
  border-color: #1c3c63;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
  padding: 10px 0px 0px 0px;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ecf0f1;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ecf0f1;
  background-color: #071f3c;
  outline: 0;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ecf0f1;
  background-color: #071f3c;
  outline: 0;
}
.navbar-default .navbar-toggle {
  border-color: #071f3c;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #071f3c;
  outline: 0;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ecf0f1;
}

.navbar{ 
    background-image: none;
    margin-bottom: 0;
}

.no-wrap {
	white-space: nowrap;
}

.navbar .divider-vertical {
    height: 20px;
    margin-top: 15px;
    border-right: 1px solid #ffffff;
}

.playerRadio {
	display:none;
}

.liveSignClass {
	color: red !important;
	font-weight: bold;
	font-size: 20px;
    display: inline-block;
    height: 30px;
    overflow: hidden;
    position: relative;
    margin-top: 8px;
    outline: none;
    cursor: pointer;
    padding-right: 5px;
}

.navbar-right {
	margin-right: -10px;
}

/* only for mobile version - start */
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecf0f1;
    
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecf0f1;
    background-color: #071f3c;
  }
  
  .navbar-default .navbar-brand {
	  color: #ecf0f1;
	  padding: 12px 0px 0px 15px;
	}
	
	.navbar-default .navbar-toggle {
		border-color: transparent;
	}
	
	.navbar-collapse .nav > .divider-vertical {
        z-index: 0;
     }
     
     .navbar-right .divider {
		border-bottom: 1px solid #ffffff;
		z-index: 2000;
	}
	
	
	.iconSpec {
	    display: inline-block;
	    height: 30px;
	    overflow: hidden;
	    position: relative;
	    width: 30px;
	    margin-top: 0px;
	    margin-left: 15px;
	}
	
	span#playButton {
		margin-bottom: 4px;
		margin-top: 2px;
	}
	
	.liveSignClass {
		content: "LIVE";
		color: red !important;
		font-weight: bold;
		font-size: 20px;
	    display: inline-block;
	    height: 30px;
	    overflow: hidden;
	    position: relative;
	    margin-top: 5px;
	    margin-bottom: 8px;
	    outline: none;
	    cursor: pointer;
	    margin-left: 15px;
	    padding-right: 10px;
	}
	
  .nav > li.divider {
	  width: 100%;
	  height: 1px;
	  margin: 0px;
	  overflow: hidden;
	  border-bottom: 1px solid #071f3c;
	}
	
	.radioIcons{
		margin-top: -5px;
	}
	.radioTab {
		margin-top: -40px;
		margin-left: 135px;
		display: flex;
	}
	
	.address-footer {
		display: none;
	}
	
	.iconFacebook {
		margin-top: 6px;
		margin-left: 100px;
	}
	
	.iconTwitter {
		margin-top: -30px;
		margin-left: 140px;
	}
	
	.iconLinkBMG {
		margin-top: -30px;
		margin-left: 180px;
	}
	
	a.navbar-brand {
		margin-top: 0px;
	}

}
/* only for mobile version - end */



