 /* Toggle Styles */
 
 #wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
}
 
#wrapper.toggled {
    padding-left: 250px;
    overflow: scroll;
}
 
#sidebar-wrapper {
 	z-index: 1000;
    position: absolute; 
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #2a5892;
    border-color: #142a46;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}
 
#page-content-wrapper {
    position: absolute;
    padding: 15px;
    width: 100%;  
    overflow-x: hidden; 
}
.xyz{
    min-width: 360px;
}
#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0px; 
}
.fixed-brand{
    width: auto;
}
/* Sidebar Styles */
 
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 2px;
}
 
.sidebar-nav li {
    text-indent: 15px;
    line-height: 40px;
}
 
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #9dbce3;
}
 
.bar-button hover {
	color: white;
}
.sidebar-nav li a:hover {
	z-index: 5000;
    text-decoration: none;
    color: #dae6f4;
    background: rgba(0,0,255,0.2);
    border-left: red 2px solid;
}
 
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
 
.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}
 
.sidebar-nav > .sidebar-brand a {
    color: #999999;
}
 
.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
.no-margin{
    margin:0;
}
 
@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
        overflow-x: hidden; 
        
    }
    .fixed-brand{
        width: auto;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
 
    #sidebar-wrapper {
        width: 250px;
        box-shadow: 3px 0px 5px #888888;
    }
 
    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }
    #wrapper.toggled-2 #sidebar-wrapper {
        width: 50px;
    }
    #wrapper.toggled-2 #sidebar-wrapper:hover {
        width: 250px;
    }
 
 
    #page-content-wrapper {
        padding: 20px;
        position: relative;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
 
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
        padding-left: 250px;
    }
    #wrapper.toggled-2 #page-content-wrapper {
        position: relative;
        margin-right: 0;
        margin-left: -200px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: auto;
 
    }
    .logo {
		text-shadow: 1px 1px 5px rgba(5,2,48,0.8);
		font-weight: normal;
		color: #2A5892;
		letter-spacing: 0pt;
		word-spacing: -1pt;
		font-size: 3em;
		text-align: left;
		font-family: georgia, serif;
		line-height: 1;
		padding-left: 10px;
		padding-right: 10px;
		white-space: nowrap;
		}
	.logo_div {
		padding-top: 10px;
		padding-bottom: 15px;
	}
	.row-border{
		box-shadow: 5px 0px 5px #888888;
	}
}

@media(max-width:767px) {
	.logo {
		text-shadow: 1px 1px 5px rgba(5,2,48,0.8);
		font-weight: normal;
		color: #2A5892;
		letter-spacing: 0pt;
		word-spacing: -1pt;
		font-size: 2em;
		text-align: left;
		font-family: georgia, serif;
		line-height: 1;
		padding-left: 20px;
		white-space: nowrap;
		}
	.logo_div {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.row-border{
		margin-top: 1px;
		box-shadow: 5px 0px 5px #888888;
	}
}

.login-error {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}
 
.login-msg {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
 
#login-box {
	width: 300px;
	padding: 20px;
	margin: 100px auto;
	background: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #000;
}

.login-page-center {
	padding: 50px;
	text-align: center;
}

.center-fa {
    margin-right: 23px;
    margin-left: -35px;
    padding-top: 3px;
    width: 50px;
}

.center {
	text-align: center;
}

